body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto-Regular', Tahoma, sans-serif;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

.ak-before,
.ak-after {
    position: relative;
}

.ak-before::before {
    content: '';
    position: absolute;
    display: block;
}

.ul-style {
    position: relative;
    display: block;
    list-style: none;
    font-size: 0;
    padding-left: 0;
}

.ul-style li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

ol,
ul,
li {
    font-family: 'Roboto-light';
}

.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.site-branding {
    max-width: 200px;
    position: relative;
    display: block;
}

.site-branding .custom-logo {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    border: 0;
    margin: 0;
}

.open-nav-btn {
    position: absolute;
    left: auto;
    right: 0;
    border: 0;
    background: none;
    width: 95px;
    height: 40px;
    top: 15px;
    cursor: pointer;
    -moz-transition-delay: 0.4s !important;
    -o-transition-delay: 0.4s !important;
    -webkit-transition-delay: 0.4s !important;
    transition-delay: 0.4s !important;
}

.nav-opened .open-nav-btn {
    right: -50vw;
}

.open-nav-btn i {
    position: absolute;
    top: calc(50% - 1.5px);
    left: auto;
    right: 2px;
    width: 40px;
    height: 3px;
    border-radius: 2px;
}

.open-nav-btn i::before,
.open-nav-btn i::after {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    left: 0;
}

.open-nav-btn i::before {
    top: -7px;
}

.open-nav-btn i::after {
    bottom: -7px;
}

.custom-nav {
    position: fixed;
    display: block;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    left: 100vw;
    z-index: 99999;
    -moz-transition-delay: 0.5s !important;
    -o-transition-delay: 0.5s !important;
    -webkit-transition-delay: 0.5s !important;
    transition-delay: 0.5s !important;
}

.nav-opened .custom-nav {
    left: 0;
}

.custom-nav .the-items,
.custom-nav .the-visuel,
.custom-nav .the-visuel .visuel {
    position: absolute;
    display: block;
    height: 100%;
    overflow: hidden;
    left: auto;
    top: 0;
}

.custom-nav .the-visuel .visuel {
    background-image: url(assets/images/cs-nav-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -moz-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

.nav-opened .custom-nav .the-visuel {
    right: 50vw;
}

.nav-opened .custom-nav .the-visuel .visuel {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.custom-nav .the-items {
    right: 0;
}

.custom-nav nav ul li {
    margin-bottom: 25px;
}

.custom-nav nav ul li a {
    font-size: 20px;
}

.custom-nav nav ul li a::after {
    top: auto;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.custom-nav nav ul li.current-menu-item a::after,
.custom-nav nav ul li a:hover::after {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.nav-closer-ctnr {
    position: relative;
    display: block;
    width: 100%;
    padding: 50px;
}


/* .ak-close-btn {
	position: absolute;
	display: block;
	left: auto;
	right: 75px;
	border: 0;
	padding: 5px 15px;
	border-radius: 15px;
	cursor: pointer;
	font-size: 10px;
	border: solid 1px #ffffff;
} */

.ak-close-btn {
    position: absolute;
    display: block;
    left: auto;
    right: 75px;
    border: 0;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 10px;
    border: solid 1px #ffffff;
    z-index: 1;
    overflow: hidden;
    background: none;
}


/* .ak-close-btn::after {
	content: 'X';
	font-size: 20px;
	top: -1px;
	left: auto;
	right: -25px;
	z-index: 2;
} */

.nav-closer-ctnr::after {
    content: 'X';
    font-size: 20px;
    top: 50px;
    left: auto;
    right: 46px;
    z-index: 2;
}

.ak-close-btn::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transform-origin: left;
    -o-transform-origin: left;
    -webkit-transform-origin: left;
    transform-origin: left;
    -moz-transition: transform ease-in-out 0.4s;
    -o-transition: transform ease-in-out 0.4s;
    -webkit-transition: transform ease-in-out 0.4s;
    transition: transform ease-in-out 0.4s;
    border-radius: 15px;
    z-index: -1;
}

.ak-close-btn:hover::before {
    -moz-transform-origin: right;
    -o-transform-origin: right;
    -webkit-transform-origin: right;
    transform-origin: right;
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.custom-nav .nav-ctnr {
    padding: 50px 50px 52px;
}

.custom-nav .nav-ctnr::after {
    top: auto;
    left: 50px;
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 35px;
}

.nav-opened .custom-nav .nav-ctnr::after {
    width: calc(100% - 100px);
}

.custom-nav .rs-ctnr ul li {
    margin: 0 5px;
}

.custom-nav .rs-ctnr ul li a {
    width: 35px;
    height: 35px;
    opacity: 0;
    -moz-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.nav-opened .custom-nav .rs-ctnr ul li a {
    opacity: 1;
}

.custom-nav .rs-ctnr ul li:nth-child(2) a {
    -moz-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}

.custom-nav .rs-ctnr ul li:last-child a {
    -moz-transition-delay: 1.2s;
    -o-transition-delay: 1.2s;
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
}

.ak-section {
    margin-bottom: 60px;
}

.onglets .ancres-onglets li a {
    position: relative;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.onglets .ancres-onglets li:first-child a {
    padding-left: 0;
}

.onglets .ancres-onglets li a {
    position: relative;
    display: block;
    padding: 0 15px;
    font-size: 16px;
    line-height: 16px;
}

.onglets .ancres-onglets li a::after {
    top: 0;
    left: auto;
    right: 0;
    width: 1px;
    height: 100%;
}

.onglets .ancres-onglets li a:hover,
.onglets .ancres-onglets li.ak-ouvert a {
    text-shadow: 0px 1px;
}

.contenu-onglets {
    padding-top: 10px;
}

.contenu-onglets .contenu {
    display: none;
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    max-height: 240px;
    padding: 20px 0 10px;
    overflow: hidden;
}

.contenu-onglets .contenu ul {
    padding-left: 12px;
}

.contenu-onglets .ak-ouvert.contenu {
    display: block;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bandeau-video {
    position: relative;
    max-height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bandeau-video .fake-size {
    opacity: 0;
}

.ak-play-btn {
    position: absolute;
    display: block;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: none;
    border: 0;
    cursor: pointer;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ak-play-btn::after {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background-image: url(assets/images/play-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: solid 3px #ffffff;
    border-radius: 100%;
}

.ak-play-btn:hover::after {
    width: 105%;
    height: 105%;
    border: solid 7px #00a3f1;
}

.bandeau-video::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 173, 238, 0.2);
    opacity: 0;
}

.bandeau-video.ak-ouvert::before {
    opacity: 1;
}

.ak-popup .contenu {
    position: relative;
    background-image: none;
    max-width: 800px;
    margin: 100px auto;
    padding: 40px;
    border: solid 15px rgba(0, 173, 245, 0.8);
    overflow: hidden;
}

.ak-popup {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: transparent;
    padding: 40px;
    z-index: 500;
    overflow: hidden;
}

.popup-opened .ak-popup {
    top: 0;
}

.ak-popup .ak-close-btn {
    right: 60px;
    top: 10px;
}

.flexslider {
    border: 0;
}


/*
.open-nav-btn::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-moz-transform: scaleX(0);
	-o-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-moz-transform-origin: right;
	-o-transform-origin: right;
	-webkit-transform-origin: right;
	transform-origin: right;
	-moz-transition: transform ease-in-out 0.4s;
	-o-transition: transform ease-in-out 0.4s;
	-webkit-transition: transform ease-in-out 0.4s;
	transition: transform ease-in-out 0.4s;
	z-index: -1;
}

.open-nav-btn:hover::before {
	-moz-transform-origin:left;
	-o-transform-origin:left;
	-webkit-transform-origin:left;
	transform-origin: left;
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
} */

.open-nav-btn:hover i::before {
    top: 7px;
}

.open-nav-btn:hover i::after {
    bottom: 7px;
}

.pseudo-text-effect {
    display: block;
    overflow: hidden;
}

.pseudo-text-effect .le-data {
    display: inline-block;
    transform: translateY(0%);
    font-style: normal;
}

.pseudo-text-effect:hover .le-data,
.les-domaines ul li:hover .pseudo-text-effect .le-data,
.les-solutions ul li:hover .pseudo-text-effect .le-data {
    transform: translateY(-100%);
}

.pseudo-text-effect::after {
    content: attr(data-after);
    display: inline-block;
    transform: translateY(100%) translateX(-50%);
    position: absolute;
    left: 50%;
    width: 100%;
}

.pseudo-text-effect:hover::after,
.les-domaines ul li:hover .pseudo-text-effect::after,
.les-solutions ul li:hover .pseudo-text-effect::after {
    transform: translateY(0%) translateX(-50%);
}

.accordeon {
    cursor: pointer;
}

.fond-marron,
.cs-select .cs-option a::before,
.home-slider {
    background-color: #2D2C2C;
}

.fond-gris-fonce {
    background-color: #36383D;
}

.fond-jaune-clair {
    background-color: #FFF7D1;
}

.fond-blanc {
    background-color: #ffffff;
}

.fond-bleu-clair {
    background-color: rgba(0, 99, 172, 0.12);
}

.site-footer {
	position: relative;
	padding-top: 50px;
	background: #1f458c;
	display: flex;
	height: 100%;
	padding: 20px 0;
	align-items: center;
	justify-content: center;
	color: #fff;
}



.bat-cat-slider .sld .pad {
    position: relative;
    display: block;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.bat-cat-slider .sld .pad .infos {
    position: absolute;
    display: block;
    height: 97px;
    line-height: 97px;
    top: auto;
    bottom: 0;
    padding: 0 22px;
}

.bat-cat-slider .infos h4.titre,
.bat-cat-slider .sld .pad .infos h4.titre {
    line-height: normal;
    display: inline-block;
}


/* .bat-cat-slider .infos .titre {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 40px;
} */

.bat-cat-slider .infos .titre {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 40px;
    width: 85%;
    padding-right: 0;
}

.bat-cat-slider .infos .btn {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    background-image: url(assets/images/white-arrow.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    top: auto;
    left: auto;
    bottom: 35px;
    right: 22px;
}

.home .bat-cat-slider .infos .btn {
    background-image: url(assets/images/black-arrow.svg);
}

.flex-it {
    position: relative;
    display: flex;
}

.site-main {
	margin-bottom: 50px;
}

.quick-nav,
.quick-content {
    padding-top: 50px;
    /* overflow: hidden; */
}


/*** Page loading & scroll effects ***/

.scroll-effects {
    opacity: 0;
    /* transform: translateY(4em) rotateZ(-5deg); */
    transform: translateY(4em) rotateZ(0deg);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.scroll-effects.is-visible {
    opacity: 1;
    transform: translateY(0em) rotateZ(0);
}


/*** !Page loading & scroll effects ***/

body:not(.home) .site-header {
    height: auto;
}

.bandeau-page {
    position: relative;
    display: block;
    height: 50vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.quick-search .search-submit {
    position: absolute;
    display: block;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 0;
    background-color: transparent;
    border: 0;
    font-size: 0;
    width: 30px;
    height: 100%;
    background-image: url(assets/images/picto-search.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.quick-search .search-field {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
    z-index: 1;
    color: #ffffff;
    padding: 7px 35px 7px 0px;
    font-size: 13px;
    line-height: 13px;
    background-color: #0c2033;
}

.quick-search label {
    position: absolute;
    display: block;
    width: calc(100% - 30px);
    z-index: 1;
}

.quick-search .search-form {
    position: relative;
    display: block;
    width: 100%;
    height: 33px;
    overflow: hidden;
}

.cs-select-ctnr {
    position: absolute;
    display: block;
    width: 270px;
    height: 53px;
    border-radius: 26px;
    overflow: hidden;
}

.cs-select-ctnr:hover,
.cs-select-ctnr.fake-hover {
    height: 206px;
}

.cs-select-btn {
    position: absolute;
    display: block;
    height: 53px;
    left: 0;
    top: 0;
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 5px 15px;
    cursor: pointer;
}

.cs-select-btn::after {
    top: 50%;
    left: auto;
    right: 25px;
    transform: translateY(-50%) rotate(0deg);
    width: 24px;
    height: 24px;
    background-image: url(assets/images/caret.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    border-radius: 100%;
}

.cs-select-ctnr:hover .cs-select-btn::after {
    transform: translateY(-50%) rotate(-90deg);
}

.cs-select {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 53px;
    list-style: none;
    padding: 0;
    max-height: 200px;
}

.cs-select .cs-option {
    position: relative;
    display: block;
    width: 100%;
}

.cs-select .cs-option a {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #2d2b2c;
    cursor: pointer;
}

.section-batailles .titre-section {
    margin-bottom: 35px;
}

.section-batailles h2 {
    padding-top: 0;
}

.ctnr-choix {
    position: relative;
    display: block;
    min-height: 210px;
}

.cs-select .cs-option a::before {
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    /* right: 24px; */
    right: 15px;
    width: 0;
    height: 2px;
}


/* .cs-select .cs-option a:hover::before,
.cs-select .cs-option a.ak-ouvert::before {
    width: 25px;
} */

.cs-select .cs-option a:hover::before,
.cs-select .cs-option a.ak-ouvert::before {
    width: 15px;
}

.section-batailles .contenu-onglet.ak-ouvert {
    animation: dank-2 0.3s ease-in-out both;
    opacity: 1;
    z-index: 2;
}

.section-batailles .contenu-onglet {
    position: absolute;
    display: block;
    transition-property: transform, opacity, z-index;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
}

.bat-cat-pads>.pad {
    position: relative;
    display: inline;
    vertical-align: top;
    height: 424px;
}


/* .site-footer .les-rs .rs li:last-child img {
    -webkit-filter: invert(1);
    filter: invert(1);
} */

.quick-nav ul li button b,
.section-batailles h2 b {
    position: relative;
    display: block;
    font-size: 10px;
}

.breadcrumbs {
    position: relative;
    display: block;
    width: 100%;
}

.breadcrumbs>span,
.breadcrumbs>span>span {
    position: relative;
    display: block;
    width: 100%;
}

.breadcrumbs>span>span a,
.breadcrumbs>span>span span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.title-bread-ctnr {
    padding: 50px 0;
}

.where-we-are {
    margin-top: 45px;
    color: #777777;
}

.single-projet .titre-page h2 {
    margin-top: 10px;
}

.le-contenu h4.titre,
.contenu h4.titre {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.le-contenu .inner-section-batailles {
    margin-bottom: 50px;
}

.home-slider .slides li.sld {
    display: block;
}

.bloc-nl form input[type=email] {
    border-radius: 100px;
}


/* .bloc-nl form input[type="submit"] {
    position: absolute;
    display: block;
    top: 3px;
    width: 44px;
    left: auto;
    right: 26px;
    border-radius: 100px;
    height: 44px;
    background-image: url(assets/images/white-arrow.svg);
    background-position: center;
    background-size: 44px;
    font-size: 0;
    background-repeat: no-repeat;
    cursor: pointer;
} */

.wpcf7-form.init {
    position: relative;
    display: block;
    margin: auto auto;
    padding-top: 4%;
    /* padding-top: 20%; */
}


/* .bloc-nl form input[type="submit"] {
    position: absolute;
    display: block;
    top: 52px;
    width: 44px;
    left: auto;
    right: 28px;
    border-radius: 100px;
    height: 44px;
    background-image: url(assets/images/white-arrow.svg);
    background-position: center;
    background-size: 44px;
    font-size: 0;
    background-repeat: no-repeat;
    cursor: pointer;
} */


/* .bloc-nl .wpcf7-form.init {
    padding-top: 20%;
} */

.bloc-nl form input[type="submit"] {
    position: absolute;
    display: block;
    /*top: 51px;*/
    top: 67px;
    width: 44px;
    left: auto;
    right: 35px;
    border-radius: 100px;
    height: 44px;
    background-image: url(assets/images/white-arrow.svg);
    background-position: center;
    background-size: 44px;
    font-size: 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.bloc-nl .wpcf7-form.init {
    padding-top: 15%;
}

.equipe .ul-style li {
    vertical-align: top;
}

.equipe h3.titre a {
    font-size: 16px;
}

.equipe .poste {
    font-size: 14px;
    min-height: 60px;
}

.equipe h3.titre {
    margin-bottom: 10px;
}

.custom-gp {
    position: relative;
    display: block;
    opacity: 1;
    border-bottom: solid 1px rgba(45, 43, 44, 0.35);
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.custom-gp.ak-disabled {
    opacity: 0;
}

.custom-gp h4.titre {
    margin-top: 5px;
    margin-bottom: 10px;
}

.les-dates {
    display: flex;
    margin-bottom: 25px;
}

.still-loading {
    display: none;
}

.slides {
	padding-left: 0;
}

/*Custom cursor animation*/

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes dank {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes dank {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes dank {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes dank-2 {
    0% {
        opacity: 0;
        /* transform: translateY(100%); */
        z-index: -1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        z-index: 2;
    }
}

@-webkit-keyframes dank-2 {
    0% {
        opacity: 0;
        /* transform: translateY(100%); */
        z-index: -1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        z-index: 2;
    }
}

@keyframes dank-2 {
    0% {
        opacity: 0;
        /* transform: translateY(100%); */
        z-index: -1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        z-index: 2;
    }
}